extends layout

block body
  .overlay-blur
  .btn.btn-info.btn-intro
    引导
  .dashboard
      .row
          .col-lg-3
          .col-lg-5
            .jumbotron
              .overlay
  

          